<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719381752248-5qfsike58po7jp434he1sdlofe871pej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719381752248-5qfsike58po7jp434he1sdlofe871pej</string>
	<key>API_KEY</key>
	<string>AIzaSyDqOpkQSG-U9LbQMkIixDlet6QdZtEetj4</string>
	<key>GCM_SENDER_ID</key>
	<string>719381752248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melkerlilja.SktnProject</string>
	<key>PROJECT_ID</key>
	<string>sktnproject</string>
	<key>STORAGE_BUCKET</key>
	<string>sktnproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719381752248:ios:d28bc3cc1eb0bfed0f874d</string>
	<key>DATABASE_URL</key>
	<string>https://sktnproject.firebaseio.com</string>
</dict>
</plist>